.chatItemRow {
    margin-top: 15px;
    display: flex;
    justify-content: start;
}
.chatItemRow:first-child {
    margin-top: 10px;
}

.chatItemRow .chatItemContent {
    background-color: rgb(209, 209, 209); 
     box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
}

.chatItem {
   max-width: 40%;
}

.timestamp{
    margin: 5px 15px;
    font-size: 13px;
}


