
.wrapper{
    background-color: var(--gray-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.header {
    margin: 30px 0 20px 0; 
    font-size: 35px;
    font-weight: bolder;
    color: blue;
}


.container {
    position: relative;
    box-shadow: 0 0 5px rgb(155, 154, 154);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}

.containerPrivateKey{
    width: 50%;
}

.inputForm{
    margin-top: 20px;
    width: 80%;
}

.inputForm label{
    display: block;
    margin-bottom: 5px;
}

.inputForm input {
    display: block;
    width: 100%;
    height: var(--height-item); 
    border:2px solid var(--border-color);
    border-radius:5px; 
    font-size:20px; 
    box-sizing: border-box;
    padding: 0 10px;
}

.inputForm textarea {
    /* display: block; */
    width: 100%;
    border:2px solid var(--border-color);
    border-radius:5px; 
    font-size:20px; 
    box-sizing: border-box;
    padding: 0 10px; 
}

.inputForm input:focus {
        outline:none;
        border-color: var(--primary-color);
        box-shadow:0 0 3px  var(--primary-color);
}

.btnPrimary {
   height: var(--height-item);
   background: var(--primary-color);
}

.btnSecondary {
    height: var(--height-item);
    width: 40%;
    margin-bottom: 20px;
    margin-top: var(--height-item);
    background-color: var(--green);
}

.btnPrimary:hover {
    background-color: rgb(13, 90, 212);
}

.btnSecondary:hover {
    background-color: rgb(36, 153, 12);
}

.btnSecondary::before {
    content: '';
    width: 94%;
    border-bottom: solid 1px var(--border-color);
    position: absolute;
    left: 3%;
    bottom: calc(20px + var(--height-item) * 3/2 - 5px  );
    z-index: 1;
}

#btnLogin {
    background-color: var(--green);
}

#btnRegister {
    background-color: var(--primary-color);
}

#rememberPassword input{
    width: 20px;
    height: 20px; 
}

#rememberPassword {
    margin-left: 2%;
    margin-top: 2%;
    width: 80%;
    display: flex;
    align-items: center;
}

.warningForm{
    margin : 10px 0 0 10px;
    color: red;
}

#usernameForm{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}


#usernameForm input{
    padding-right: 50px;
}

#usernameForm span {
    position: absolute;
    margin-right: 8px;
    color: rgb(1, 187, 1);
    font-size: 15px;
    font-weight: bolder;
}

.container button {
    border: 0;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bolder;
}

.container button:hover {
    cursor: pointer;
}

@media (max-width: 850px) {
   .container{
    width: 80%;
   }
}

@media (max-height: 400px) {
    .wrapper{
        height: 100%;  
    }
    .container{
        margin: 5% 0;
    }
 }

 .containerPrivateKey {
     font-size: 19px;
      margin: 10px;
      line-height: 1.6;
       font-weight:900
 }

 #notePrivateKey{
     margin: 0px 20px;
 }
